<p style="color: green"><%= notice %></p>

<h1><%= @task.title %></h1>
<h3>Description:</h3>
<p><%= @task.description %></p>

<div>
  <%= link_to "Edit this task", edit_task_path(@task) %> |
  <%= link_to "Back to tasks", tasks_path %>

  <%= button_to "Destroy this task", @task, method: :delete %>
</div>
